@model PagedList.IPagedList<Hotel.Models.hoadon>

@{
    ViewBag.Title = "DSHoaDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
<main>
    <form style="margin:20px">
        <fieldset disabled><h3>Hoá đơn</h3></fieldset>
        <div class="d-flex flex-row justify-content-between">
            <div>
                @Html.ActionLink("Thêm mới", "ThemDichVu", "ThemDichVu", new { @class = "btn btn-primary btn-lg mb-4 mt-3" })
            </div>
        </div>
        <table class="table m-3">
            <tr>
                <th>
                    ID đặt phòng
                </th>
                <th>
                    Phương thức thanh toán
                </th>
                <th>
                    Trạng thái hoá đơn
                </th>
                <th>
                    Tổng tiền
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_DP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phuongthucthanhtoan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trangthaihd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tongtien)
                    </td>
                    <td class="d-flex flex-column">
                        @Html.ActionLink("Sửa", "SuaHoaDon", new { ID = item.ID_HD }, new { @type = "button", @style = "padding: 10px ; width: 100px", @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Xóa", "XoaHoaDon", new { ID = item.ID_HD }, new { @type = "button", @style = "padding: 10px ; width: 100px ", @class = "btn btn-danger btn-sm", @OnClick = "return confirm('Bạn có chắc sẽ xóa " + @Html.DisplayFor(modelItem => item.ID_DP) + " này không ?');" })
                    </td>
                </tr>
            }
        </table>
    </form>
</main>
<br />
<div id='Paging' style="text-align: center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("DSHoaDon", new { page, @class = "btn btn-outline-dark" }))
</div>