@model PagedList.IPagedList<Hotel.Models.nguoidung>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<main>
    <form style="margin:20px">
        <fieldset disabled><h3>Người dùng</h3></fieldset>
        <div class="d-flex flex-row justify-content-between">
            <div>
                @Html.ActionLink("Thêm mới", "ThemTaiKhoan", "Admin", null, new { @class = "btn btn-primary btn-lg mb-4 mt-3" })
            </div>
        </div>
        <table class="table m-3">
            <tr>
                <th>
                    ID Người dùng
                </th>
                <th>
                    Tên đăng nhập
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Email
                </th>
                <th>
                    Loại người dùng
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_ND)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tendn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.matkhau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hoten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.diachi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.loainguoidung.loainguoidung1)
                    </td>
                    <td>
                    <td class="d-flex flex-column">
                        @Html.ActionLink("Sửa", "SuaTaiKhoan", new { ID = item.ID_ND }, new { @type = "button", @style = "padding: 10px ; width: 100px", @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Xóa", "XoaTaiKhoan", new { ID = item.ID_ND }, new { @type = "button", @style = "padding: 10px ; width: 100px ", @class = "btn btn-danger btn-sm", @OnClick = "return confirm('Bạn có chắc sẽ xóa" + @Html.DisplayFor(modelItem => item.tendn) + "  này không ?');" })
                    </td>
                </tr>
            }
        </table>
    </form>
</main>
<br />
<div id='Paging' style="text-align: center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("DSPhong", new { page }))
</div>
