    @model Hotel.Models.phuthu

@{
    ViewBag.Title = "XoaPhuThu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XoaPhuThu</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>phuthu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giapt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giapt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
