@{
    ViewBag.Title = "CaNhan";
    Layout = "~/Views/Shared2/_Layout.cshtml";
}
@model Hotel.Models.nguoidung
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <body>
        <div class="bg-image shadow-sm"
             style="background-image: url('/Assets/Client/bar.jpg')">
            <div class="bg-dark bg-opacity-50 text-light p-5 d-flex flex-row">

                <div class="w-25 d-flex flex-column">
                    @Html.ActionLink("Lịch sử đặt phòng", "LichSu", "CaNhan", new { @class = "p-3 mt-3 btn btn-outline-light", @style = "margin-right: .5em" })
                    @Html.ActionLink("Hóa đơn", null, null, new { @class = "p-3 mt-3 btn btn-outline-light", @style = "margin-right: .5em" })
                    @Html.ActionLink("Sửa hồ sơ", "SuaCaNhan", new { ID = ((Hotel.Models.nguoidung)Session["tendn"]).ID_ND }, new { @class = "p-3 mt-3 btn btn-outline-light", @style = "margin-right: .5em" })
                </div>
                <div class="px-5 W-50 row">
                    <div class="w-50">
                        <div class="row fs-4 fw-bold">Họ tên</div>
                        <div class="row">@Html.DisplayFor(s => s.hoten) </div>
                        <div class="row fs-4 fw-bold mt-4">Mật khẩu</div>
                        <div class="row">@Html.DisplayFor(s => s.matkhau) </div>
                    </div>
                    <div class="w-50">
                        <div class="row fs-4 fw-bold">Điện thoại</div>
                        <div class="row">@Html.DisplayFor(s => s.sdt) </div>
                        <div class="row fs-4 fw-bold mt-4">Email</div>
                        <div class="row">@Html.DisplayFor(s => s.email) </div>
                    </div>
                    <div>
                        <div class="row fs-4 fw-bold">Địa chỉ</div>
                        <div class="row">@Html.DisplayFor(s => s.diachi) </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}