
@{
    ViewBag.Title = "LichSu";
    Layout = "~/Views/Shared2/_Layout.cshtml";
}


@using Hotel.Models.ViewModels
@model List<lichsuView>

<div class="wrap-lich-su row d-flex flex-row">
    @if (@Model.Count > 0)
    {
        foreach (lichsuView lsv in @Model)
        {
            <div class="container dat-phong-thanh-cong w-25 m-auto my-4 shadow-sm text-center py-4">
                <h5 class="fs-3 fw-bolder text-uppercase text-dark">@lsv.tenphong</h5>
                <p class="text-secondary" style="margin-bottom: 1.5em">
                    @if (Session["tendn"] != null)
                    {
                        @(((Hotel.Models.nguoidung)Session["tendn"]).hoten)
                    }
                </p>
                <span>Ngày đặt</span>
                <p class="fs-4 fw-bolder mb-4">@lsv.ngaydat</p>
                <div class="row border-top border-bottom py-2 my-2">
                    <div class="col border-end">
                        <div class="mx-auto fs-5">Ngày đến</div>
                        <div class="mx-auto fw-lighter">@lsv.ngayden</div>
                    </div>
                    <div class="col">
                        <div class="mx-auto fs-5">Ngày đi</div>
                        <div class="mx-auto fw-lighter">@lsv.ngaydi</div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between fw-bold">
                    <span>Tổng tiền</span>
                    <span>@lsv.tongtien.000 đ/ngày</span>
                </div>
                <div class="text-center" style="margin-top: 1em">
                    @if (lsv.cothehuy == true)
                    {
                        @Html.ActionLink("Hủy đặt phòng", "XoaDatPhong", "CaNhan", new { ID = lsv.ID_DP }, new { @type = "button", @style = "padding: 10px ; width: 200px ", @class = "btn btn-danger btn-sm", @OnClick = "return confirm('Bạn có chắc hủy " + @Html.DisplayFor(modelItem => lsv.tenphong) + " này không ?');" })

                    }
                    else
                    {
                        <button class="btn btn-danger" disabled>Quá Hạn Hủy</button>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="khung-lich-su">
            <label>Bạn Chưa Đặt Căn Hộ Nào!</label>
        </div>
        <div>
            @Html.ActionLink("Đặt phòng ngay", "DSPhong", "DatPhong", null, new { @type = "button", @style = "padding: 10px ; width: 200px ", @class = "btn btn-danger btn-sm" })

        </div>
    }
</div>